<div class="content">
  <div class="style-content">
    <app-iframe title="1、TweenOne单元素动画,ScrollAnim页面滚动动画" id="content-1" src="./assets/web/tween-one/index.html"></app-iframe>
    <app-iframe title="" id="" src="./assets/web/map/index.html"></app-iframe>
    <app-iframe title="2、css3图片反转动画" id="content-2" src="./assets/web/english-listen-speak/index.html#weizhi"></app-iframe>
    <app-iframe title="3、教学通页面参考" id="content-3" src="./assets/web/作业系统宣传页面/index.html#center-position"></app-iframe>
    <app-iframe title="4、导航条动画" id="content-4" src="./assets/web/navigation-plug-in/navigation-plug-in.html"></app-iframe>
    <app-iframe themeType="1" title="5、模块hover阴影效果" id="content-5" src="./assets/web/box-shadow/box-shadow.html"></app-iframe>
    <app-iframe themeType="1" title="6、模块hover图片放大镜效果" id="content-6" src="./assets/web/glass/glass.html"></app-iframe>
    <app-iframe themeType="1" title="7、模块hover图片放大镜效果2" id="content-7" src="./assets/web/glass-1/glass-1.html"></app-iframe>
    <app-iframe themeType="1" title="8、文字hover效果border-bottom两侧延伸" id="content-8" src="./assets/web/link-hover/link-hover.html"></app-iframe>
    <app-iframe themeType="1" title="9、图片hover重影效果" id="content-9" src="./assets/web/double-shadow/double-shadow.html"></app-iframe>
    <app-iframe title="10、文字跳动" id="content-10" src="./assets/web/word-transition/index.html#map"></app-iframe>
    <app-iframe title="11、标签云" id="content-11" src="./assets/web/wxthtml/index.html#tag"></app-iframe>
    <app-iframe themeType="1" title="12、加载小图标" id="content-12" src="./assets/web/load-icon/load-icon.html"></app-iframe>
    <app-iframe themeType="1" title="13、气泡" id="content-13" src="./assets/web/bubble/bubble.html"></app-iframe>
    <app-iframe title="14、CSS3实现鼠标滑过边框线条" id="content-14" src="./assets/web/mouse-over-border/index.html"></app-iframe>
    <app-iframe title="15、页面滚动导航跟随效果" id="content-15" src="./assets/web/scroll-follow/index.html#chinese"></app-iframe>
    <app-iframe title="16、学科网账号设置效果" id="content-16" src="./assets/web/personal-center/pages_account_settting_201905_version/pages/account-setting-personinfo.html"></app-iframe>
  </div>
  <div class="style-map">
    <nz-anchor nzOffsetTop="64">
      <nz-link nzHref="#content-1" nzTitle="1、TweenOne单元素动画"></nz-link>
      <nz-link nzHref="#content-2" nzTitle="2、css3图片反转动画"></nz-link>
      <nz-link nzHref="#content-3" nzTitle="3、教学通页面参考"></nz-link>
      <nz-link nzHref="#content-4" nzTitle="4、导航条动画"></nz-link>
      <nz-link nzHref="#content-5" nzTitle="5、模块hover阴影效果"></nz-link>
      <nz-link nzHref="#content-6" nzTitle="6、模块hover图片放大镜效果"></nz-link>
      <nz-link nzHref="#content-7" nzTitle="7、模块hover图片放大镜效果2"></nz-link>
      <nz-link nzHref="#content-8" nzTitle="8、文字hover效果border-bottom两侧延伸"></nz-link>
      <nz-link nzHref="#content-9" nzTitle="9、图片hover重影效果"></nz-link>
      <nz-link nzHref="#content-10" nzTitle="10、文字跳动"></nz-link>
      <nz-link nzHref="#content-11" nzTitle="11、标签云"></nz-link>
      <nz-link nzHref="#content-12" nzTitle="12、加载小图标"></nz-link>
      <nz-link nzHref="#content-13" nzTitle="13、气泡"></nz-link>
      <nz-link nzHref="#content-14" nzTitle="14、CSS3实现鼠标滑过边框线条"></nz-link>
      <nz-link nzHref="#content-15" nzTitle="15、页面滚动导航跟随效果"></nz-link>
      <nz-link nzHref="#content-16" nzTitle="16、学科网账号设置效果"></nz-link>
    </nz-anchor>
  </div>
</div>