<nz-layout class="layout">
    <nz-header style="position:fixed; width:100%; z-index: 1000">
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li nz-menu-item *ngFor="let item of menu; let i = index" (click)="changePage(item)" >{{ item.name }}</li>
        </ul>
    </nz-header>
    <nz-content class="nz-content">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer style="text-align: center;">Design By xkw ©2019 Author Kanade</nz-footer>
</nz-layout>