.iframe {
    width: 100%;
    margin-bottom: 40px;
    .title {
        line-height: 60px;
        font-size: 18px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.65);
        &:hover {
            color: #1890ff;
        }
    }
    .border {
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 20px;
        iframe {
            width: 100%;
            height: 450px;
            &.sm {
                height: 250px;
            }
        }
    }
    
}