.item.glass-1{
  background: #fff;
  height: 200px;
  span{
    margin: 50px auto 0;
    display: block;
    width:100px;
    height:100px;
    overflow: hidden;
    @include border-radius(50%);
    @include transition(all 0.4s);
  }
  img{
    display: block;
    width:100%;
  }
  &:hover{
    span{
      @include transform(scale(1.4));
    }
  }
}